{% load widget_tweaks %}

<form {% if urlpattern %}action="{% url urlpattern %}"{% endif %} method="{{ method }}">
    {% csrf_token %}

    {% if form.non_field_errors %}
        <div class="text-danger">
            {% for error in form.non_field_errors %}
                {{ error }}
            {% endfor %}
        </div>
    {% endif %}


    {% for field in form %}

        <div class="form-group">
            {% if field.errors %}
                {{ field.label_tag }} {{ field|add_class:"form-control is-invalid" }}
            {% else %}
                {{ field.label_tag }} {{ field|add_class:"form-control" }}
            {% endif %}

            {% if field.help_text %}
                <small class="form-text text-muted">{{ field.help_text|safe }}</small>
            {% endif %}

            {% if field.errors %}
                <div class="invalid-feedback">
                    {% for e in field.errors %}
                        {{ e }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
